name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 5

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Build
        run: go build -v ./...

      - name: Fail if code is not formatted
        run: |
          if [ "$(go fmt ./... | wc -l)" -gt 0 ]; then
            >&2 echo "Code is not formatted."
            exit 1
          fi

      - name: Perform unit tests
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./pkg/...

      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Perform integration tests
        run: go test -v -race ./integration/...
